<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DataNtechTestSuit" parallel="false">
    <test name="HOmePage test">
        <classes>
            <class name="Checkout" />
            <class name="Homepage" />
            <class name="shipping" />
        </classes>
    </test>
</suite>